*.o
*~
.deps/
INSTALL
Makefile
Makefile.in
\#*
\.#*
aclocal.m4
autom4te.cache/
config.guess
config.h
config.h.in
config.log
config.nice
config.status
config.sub
configure
core
depcomp
fileformat.pb-c.c
fileformat.pb-c.h
install-sh
legacy/.deps/
legacy/Makefile
legacy/Makefile.in
libtool
log
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
nodecachefilereader
osm2pgsql
osm2pgsql.spec
osm2pgsql-*.tar.gz
osm2pgsql-*.tar.bz2
osmformat.pb-c.c
osmformat.pb-c.h
stamp-h1
